

<br>
<!-- Page Content -->
            <section class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-border-box">
                                <!-- PENSER A TOUJOURS VIRER LA BALISE FORM -->
                                     <h3 class="mb-15">Edit <%= resource_name.to_s.humanize %></h3>
                                    <%= form_for(resource, as: resource_name, url: edit_user_registration_path, html: { method: :put }) do |f| %>
                                      <%= render "devise/shared/error_messages", resource: resource %>
                                   
                                    <div class="form-field-wrapper">
                                        <%= f.label :email %>
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-lg form-full" %> 
                                    </div>

                                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                    <% end %>

                                    <div class="form-field-wrapper">
                                        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                                        <%= f.password_field :password, autocomplete: "new-password", class: "input-lg form-full" %>
                                        <% if @minimum_password_length %>
                                          <br />
                                          <em><%= @minimum_password_length %> characters minimum</em>
                                        <% end %>
                                    </div>
                                    <div class="form-field-wrapper">
                                        <%= f.label :password_confirmation %>
                                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-lg form-full" %>
                                    </div>
                                  
                                    <div class="form-field-wrapper">
                                        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                                        <%= f.password_field :current_password, autocomplete: "current-password", class: "input-lg form-full" %>
                                      </div>

                                    <div class="form-field-wrapper">
                                        
                                        <%= f.submit "Update", class: "submit btn btn-lg btn-black" %> 
                                    </div>
                                    <% end %>
                                    
                                    <h3>Cancel my account</h3>

                                    <p>Unhappy? <%= button_to "Cancel my account", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete %></p>

                                    <%= link_to "Back", :back %>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- End Page Content -->