<br>
<!-- Page Content -->
            <section class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-border-box">
                                <!-- PENSER A TOUJOURS VIRER LA BALISE FORM -->
                                     <h3 class="mb-15">Create an account</h3>
                                    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
                                      <%= render "devise/shared/error_messages", resource: resource %>
                                    <p>Create an account if you want to buy our amazing Kittens pictures.</p>
                                    <div class="form-field-wrapper">
                                        <%= f.label :email %>
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-lg form-full" %> 
                                    </div>
                                    <div class="form-field-wrapper">
                                        <%= f.label :password %>
                                        <% if @minimum_password_length %>
                                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                                        <% end %><br />
                                        <%= f.password_field :password, autocomplete: "new-password", class: "input-lg form-full" %>
                                    </div>
                                    <div class="form-field-wrapper">
                                        <%= f.label :password_confirmation %>
                                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-lg form-full" %>
                                    </div>
                                  
                                    <div class="form-field-wrapper">
                                        
                                        <%= f.submit "Sign up", class: "submit btn btn-lg btn-black" %> 
                                    </div>
                                    <% end %>
                                    <%= render "devise/shared/links" %>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- End Page Content -->
