

<br>
<!-- Page Content -->
            <section class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-border-box">
                                <!-- PENSER A TOUJOURS VIRER LA BALISE FORM -->
                                     <h3 class="mb-15">Forgot your password?</h3>
                                    <%= form_for(resource, as: resource_name, url: new_user_password_path, html: { method: :post }) do |f| %>
  																	<%= render "devise/shared/error_messages", resource: resource %>
                                    <p>Create an account if you want to buy our amazing Kittens pictures.</p>
                                    <div class="form-field-wrapper">
                                        <%= f.label :email %>
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-lg form-full" %> 
                                    </div>
                                  
                                    <div class="form-field-wrapper">
                                        
                                        <%= f.submit "Send me reset password instructions", class: "submit btn btn-lg btn-black" %> 
                                    </div>
                                    <% end %>
                                    <%= render "devise/shared/links" %>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- End Page Content -->