<br>

<!-- Page Content -->
            <section class="content-page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-border-box">
                                <!-- PENSER A TOUJOURS VIRER LA BALISE FORM -->
                                    <h3 class="mb-15">Registered Customers</h3>
                                    <%= form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>
                                    <%= render "devise/shared/error_messages", resource: resource %>
                                    <p>Sign in if you want to buy our amazing Kittens pictures.</p>
                                    <div class="form-field-wrapper">
                                        <%= f.label :email %>
                                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-lg form-full" %> 
                                    </div>
                                    <div class="form-field-wrapper">
                                        <%= f.label :password %>
                                        <%= f.password_field :password, autocomplete: "current-password", class: "input-lg form-full" %>
                                    </div>
                                  
                                    <div class="form-field-wrapper">
                                        
                                        <%= f.submit "Log in", class: "submit btn btn-lg btn-black" %> 
                                    </div>
                                    <% end %>
                                    <%= render "devise/shared/links" %>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-border-box">
                                <form>
                                    <h3 class="mb-15">New Customers</h3>
                                    <p>Sign up if you want to buy our amazing Kittens pictures.</p>
                                    <div class="form-field-wrapper">
                                      
                                        <%= link_to "Create an Account", new_user_registration_path, class: "btn btn-lg btn-color" %>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Page Content -->
